<!-- mission.component.html -->

<h2>Mission List</h2>

<div>
  <label for="year">Filter by Launch Year:</label>
  <input
    type="text"
    id="year"
    [(ngModel)]="year"
    (ngModelChange)="filterByYear()"
    name="year"
  />
  <button (click)="filterByYear()" id="btn-filter" class="btn-filter">
    Filter
  </button>

  <p>Launch</p>
  <label>
    <input
      type="radio"
      name="successFilter"
      [(ngModel)]="launchSuccess"
      (ngModelChange)="filterByYear()"
      value="true"
    />
    Successful
  </label>
  <label>
    <input
      type="radio"
      name="successFilter"
      [(ngModel)]="launchSuccess"
      (ngModelChange)="filterByYear()"
      value="false"
    />
    Failed
  </label>
  <p>Landing</p>
  <label>
    <input
      type="radio"
      name="landingFilter"
      [(ngModel)]="landSuccess"
      (ngModelChange)="filterByYear()"
      value="true"
    />
    Successful
  </label>
  <label>
    <input
      type="radio"
      name="landingFilter"
      [(ngModel)]="landSuccess"
      (ngModelChange)="filterByYear()"
      value="false"
    />
    Failed
  </label>
  <br />
  <button (click)="resetFilters()" id="btn-reset" class="btn-reset">
    Reset Filters
  </button>
</div>

<ul>
  <li *ngFor="let mission of filteredMissions">
    <a routerLink="/details/{{ mission.flight_number }}">
      <img src="{{ mission.links.mission_patch_small }}" alt="mission patch" />
      <h1>{{ mission.mission_name }}</h1>
      <h3>{{ mission.launch_year }}</h3>
      <p>{{ mission.details }}</p>
    </a>
  </li>
</ul>
